body {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 75%;
	font-family: 'Open Sans', sans-serif;
}

img {
	display: inline-block;
}

form {
	display: table;
	width: 400px;
	height: 50px;
	display: table-cell;
}

form input {
	display: table;
	width: 350px;
}

#section p {
	margin-left: 20px;
	display: inline-block;
}

#section {
	margin-top: 40px;
	margin-bottom: 25px;
}

#selfProfile p {
	margin-left: 20px;
	display: inline-block;
}

#selfProfile form {
	margin-left: 20px;
	display: inline-block;
	float: right;
}

#selfProfile {
	margin-top: 40px;
	margin-bottom: 25px;
}

#selfProfile img {
	width: 250px;
	height: 250px;
}

img.media-object {
	max-width: 150px;
}
img#large.media-object {
	max-width: 300px;
	margin-bottom: 10px;
}


form input.btn.btn-default {
	width: 75px;
	float: left;
}

.clearfix::after, .dl-horizontal dd::after, .container::after, .container-fluid::after, .row::after, .form-horizontal .form-group::after, .btn-toolbar::after, .btn-group-vertical > .btn-group::after, .nav::after, .navbar::after, .navbar-header::after, .navbar-collapse::after, .pager::after, .panel-body::after, .modal-footer::after {
	clear: none;
}

.row {
	margin-right: 0px;
	margin-left: 0px;
	/*min-height: 300px;*/
	display: table;
	width: 100%;
}

div#left.col-md-6 {
	padding-left: 0px;
	padding-right: 7px;
}
div#right.col-md-6 {
	padding-left: 7px;
	padding-right: 0px;
}

.carousel .item img {
   margin-left: auto;
   margin-right: auto;
}

.carousel-control.left, .carousel-control.right {
    background-image: none

}

span.glyphicon.glyphicon-chevron-right, span.glyphicon.glyphicon-chevron-left {
	color: rgb(62, 62, 62);
}

div.blank {
	height: 180px;
}

div.panel.panel-default {
	
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}


.grid-layout {
	display: grid;
	grid-columns: 200px 1% 1fr;
}

textarea { 
    width: 100%;
    height: 100%;
}

input {
	width:100%;
}

form {
	width: 100%;
	width: 999999px;
}

button#fullTop.btn.btn-default {
	width: 90%;
	margin-left:5%;
	margin-right:5%;
	margin-top:10px;
}

button#fullBottom.btn.btn-default {
	width: 90%;
	margin-left:5%;
	margin-right:5%;
	margin-top:10px;
	margin-bottom: 10px;
}


img {
	-moz-border-radius: 15px; /* FF1+ */
	-webkit-border-radius: 15px; /* Saf3-4 */
	border-radius: 15px; /* Opera 10.5, IE 9, Saf5, Chrome */
}

button#saveButton.btn.btn-default {
	width: 100px;
	margin-top: 25px;
	margin-left: 25px;
	margin-bottom: 25px;

}

